@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

*{
  font-family: "Inter", sans-serif;
}


/* Flex Grid by @joshpuckett */
.container,
.col,
.one-col,
.two-col,
.three-col,
.four-col,
.five-col,
.six-col,
.seven-col,
.eight-col,
.nine-col,
.ten-col,
.eleven-col,
.twelve-col {
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	flex-basis: 100%;
}
.row {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-right: -1rem;
}
.col {
	flex: 1 1 0 !important;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
.np-top {
	padding-top: 0;
}
.np-bottom {
	padding-bottom: 0;
}


/* Devices larger than 700px */
@media (min-width: 960px) {
	.one-col										{ flex-basis: 8.333% !important; }
	.two-col										{ flex-basis: 16.666% !important; }
	.three-col									{ flex-basis: 25% !important; }
	.four-col										{ flex-basis: 33.333% !important; }
	.five-col										{ flex-basis: 41.666% !important; }
	.six-col										{ flex-basis: 50% !important; }
	.seven-col									{ flex-basis: 58.333% !important; }
	.eight-col									{ flex-basis: 66.666% !important; }
	.nine-col										{ flex-basis: 75% !important; }
	.ten-col										{ flex-basis: 83.333% !important; }
	.eleven-col									{ flex-basis: 91.666% !important; }
	.twelve-col									{ flex-basis: 100% !important; }
}

/*Vertical & Horizontal Alignment*/
.align-items-start    						{ align-items: flex-start !important; }
.align-items-end      						{ align-items: flex-end !important; }
.align-items-center   						{ align-items: center !important; }
.justify-content-start   					{ justify-content: flex-start !important; }
.justify-content-end     					{ justify-content: flex-end !important; }
.justify-content-center  					{ justify-content: center !important; }

@media (max-width: 959px) {

	.container {
		width: 90%;
		margin: 0 auto;
		padding: 0;
		box-sizing: border-box;
	}

}



.width-1 {
  width: 8.33333%
}

.width-2 {
  width: 16.66667%
}

.width-3 {
  width: 25%
}

.width-4 {
  width: 33.33333%
}

.width-5 {
  width: 41.66667%
}

.width-6 {
  width: 50%
}

.width-7 {
  width: 58.33333%
}

.width-8 {
  width: 66.66667%
}

.width-9 {
  width: 75%
}

.width-10 {
  width: 83.33333%
}

.width-11 {
  width: 91.66667%
}

.width-12 {
  width: 100%
}

.push-1 {
  left: 8.33333%
}

.push-2 {
  left: 16.66667%
}

.push-3 {
  left: 25%
}

.push-4 {
  left: 33.33333%
}

.push-5 {
  left: 41.66667%
}

.push-6 {
  left: 50%
}

.push-7 {
  left: 58.33333%
}

.push-8 {
  left: 66.66667%
}

.push-9 {
  left: 75%
}

.push-10 {
  left: 83.33333%
}

.push-11 {
  left: 91.66667%
}

.pull-1 {
  right: 8.33333%
}

.pull-2 {
  right: 16.66667%
}

.pull-3 {
  right: 25%
}

.pull-4 {
  right: 33.33333%
}

.pull-5 {
  right: 41.66667%
}

.pull-6 {
  right: 50%
}

.pull-7 {
  right: 58.33333%
}

.pull-8 {
  right: 66.66667%
}

.pull-9 {
  right: 75%
}

.pull-10 {
  right: 83.33333%
}

.pull-11 {
  right: 91.66667%
}

.pull-left {
  float: left !important
}

.pull-right {
  float: right !important
}


/* Custom Color Variables */

:root {
  --white: #ffffff;
  --black: #000000;
  --passionred: #f73859;
  --flatblue: #6088bb;
  --spotifygreen: #00CC99;
  --ultragrey: #fafafa;
  --eigengrau: #16161d;
  --lightblue: #00c6ff;
  --turquoise: #12D8FA;
  --mesblue: #0072ff;
  --mint: #A6FFCB;
  --stone: #f6f6f6;
  --greystone: rgb(249,249,249);
  --spygrey: #202020;

}


html{
  background-color: var(--white);
  color: var(--eigengrau);

}

.title{
  color: var(--eigengrau);
}

.subtitle{
  color: var(--eigengrau);
}


.navbar{
  top: 0;
  width: 100%;
  padding: 10px;

  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 40px 0px;
}

.nav-stripe {
    height: 5px;
    background: var(--lightblue);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, var(--lightblue), var(--mesblue));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, var(--lightblue), var(--mesblue));/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bkg-white{
  background-color: var(--white);
}

.bkg-ultragrey{
  background-color: var(--ultragrey);
}

.bkg-greystone{
  background-color: var(--greystone);
}

.bkg-spygrey{
  background-color: var(--spygrey);
}

.bkg-eigen{
  background-color: var(--eigengrau);
}

.bkg-lightblue{
  background-color: var(--lightblue);
}

.bkg-flatblue{
  background-color: var(--flatblue);
}

.bkg-passionred{
  background-color: var(--passionred);
}

.is-passionred{
border-color: var(--passionred);
color: var(--passionred);

}


.bkg-stone{
  background-color: var(--stone);
}

.bkg-gradient-heavy-rain{
	background-image: linear-gradient(125deg, #cfd9df 0%, #e2ebf0 100%) !important;
}

.navbar-menu{

}
.navbar-item{
  color: var(--eigengrau);
}
.is-active{
      background-color: var(--white);
}
.navbar-end{
 background-color: var(--white);
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover{
  background-color: var(--white);
  color: var(--mesblue);
  border-bottom-color: var(--mesblue);

}

a.navbar-item:hover{
  color: var(--mesblue);
}

.post{
  -webkit-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  -moz-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  color: #4B4F56;
  z-index: 1;
}

.post:hover {
  box-shadow: 0 30px 30px rgba(0,0,0,.12);
  transform: translate(0,-5px);
  transition-delay: 0s !important;
}

.passionlink{
  color: var(--passionred);
}

.right_text{
  text-align: right;
}

.feature-box {
align-self: center;
}

.image-box {

    border: none;
    max-width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}


.border-shadow {
    box-shadow: 0 0px 33px 0 rgba(0,0,0,.00);
    border-radius: 8px;
    background-color: rgba(0,0,0,.00);
    outline: 0;
}

.card{


}

.card-noborder {
  background-color: #fff;
  color: #4a4a4a;
  max-width: 100%;
  position: relative
}

.card-image{
    border-radius: 8px;
}

.port-text{
  vertical-align: middle;
  align-items: center;
  justify-content: center;
    align-content: center;
    margin-bottom: auto;
    margin-top: auto;

}

.is-small {
  font-size: .90rem
}

.grow { transition: all .2s ease-in-out; }
.grow:hover {  transform: scale(.96);}
